<p>parent1 works!</p>



<div class="page-container">

    <!-- Top Section (30%) -->
    <div class="top-section">
        Parent Content
        <button (click)="navigateToTemplate()">Go to template forms</button>
        <button (click)="navigateToReactive()">Go to reactive forms</button>
    </div>

    <!-- Bottom Section (70%) -->
    <div class="bottom-section">

        <div class="child-left">
            <app-child1></app-child1>
        </div>

        <div class="child-right">
            <app-child2></app-child2>
        </div>

    </div>

</div>